table,tr,th,td{
  border: 1px solid black;
  text-align: center;
}
nav ul{
  display: flex;
  list-style-type: none;
  width: 95%;
  justify-content: flex-end;
  gap: 10px;
  text-decoration: none;
}
li > a{
  text-decoration: none;
}
.loginForm .registerForm{
  border: 1px solid black;
  width: 25%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%);
}
button{
  margin: 20px;
}